<app-ptree [treeOpts]="treeOpts">
</app-ptree>
<div class="content-meta">
  <div class="content-header nav_tab">
    <ol class="breadcrumb">
      <li>数据共享交换</li>
      <li>自定义查询</li>
      <li class="active">管理列表</li>
    </ol>
  </div>

  <!--查询-->
  <div class="content-search">

    <div class="">
      <span class="title">数据库类型：</span>
      <p-dropdown [options]="dbTypeList" [(ngModel)]="queryParam.dbType" (onChange)="flushData()"></p-dropdown>
      <span class="title">查询名称：</span>
      <input type="text" class="" name="sqlName" maxlength="20" [(ngModel)]="queryParam.sqlName">
      <button type="button" class="btn-check ripple" (click)="flushData()">查询</button>
    </div>
    <div class="crumbs-btn">
      <button type="button" class="btn-add ripple" (click)="addData()">新增</button>
    </div>
  </div>
  <!--数据表格-->
  <div class="content-table">
    <app-ptable [tableOpts]="tableOpts" (selectionChange)="tableOpts.selections = $event"></app-ptable>
  </div>
</div>


<!-- 删除 -->
<p-dialog header="{{dialogOpts.delete.title}}" [(visible)]="dialogOpts.delete.visible" width="450" height="auto"
          modal="true">
  <div>
    是否确定删除？
  </div>
  <p-footer>
    <button type="button" pButton (click)="deleteOk()" label="确认"></button>
    <button type="button" pButton (click)="dialogOpts.delete.visible=false" label="取消"></button>
  </p-footer>
</p-dialog>


<p-dialog header="{{dialogOpts.runSql2.title}}" [(visible)]="dialogOpts.runSql2.visible" width="450" height="auto"
          modal="true">
  <div>
    确认立即执行？如果是，请稍等，结果会很快展现~
  </div>
  <p-footer>
    <button type="button" pButton (click)="runOk()" label="确认"></button>
    <button type="button" pButton (click)="dialogOpts.runSql2.visible=false" label="取消"></button>
  </p-footer>
</p-dialog>


<!-- 执行查询 -->
<p-dialog header="{{dialogOpts.runSql.title}}" [(visible)]="dialogOpts.runSql.visible" width="100%"
          height="auto"
          modal="true" ovflow="auto">
  <div>
    <div>当前查询语句名称：<b>{{dialogOpts.runSql.data.sqlName}}</b> , 记录总数：<b>{{dialogOpts.runSql.data.dataCount}}</b> 条</div>
    <!-- 表头-->
    <table class="ruletable mt10" style="table-layout: auto;">
      <thead>
      <tr>
        <td width="80" *ngFor="let item of dialogOpts.runSql.data.itemDetailVos; let i=index">{{item.columnLabel}}</td>
      </tr>
      </thead>
      <!-- 数据-->
      <tbody>
      <tr *ngFor="let item of dialogOpts.runSql.data.datas; let i=index">
        <td *ngFor="let item2 of dialogOpts.runSql.data.itemDetailVos; let i2=index">{{item[i2]}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <p-footer>
    <button type="button" pButton (click)="dialogOpts.runSql.visible=false" label="关闭"></button>
  </p-footer>
</p-dialog>


<p-dialog header="{{dialogOpts.uc.title}}" [(visible)]="dialogOpts.uc.visible" width="450" height="auto"
          modal="true">
  <div class="dialogForm">
     <div>初始化</div>
     <div>每天一次</div>
  </div>
  <p-footer>
    <button type="button" pButton (click)="setOk()" label="确认"></button>
    <button type="button" pButton (click)="dialogOpts.uc.visible=false" label="取消"></button>
  </p-footer>
</p-dialog>
