<div class="content-header nav_tab">
  <ol class="breadcrumb">
    <li>数据共享交换</li>
    <li>自定义查询</li>
    <li class="active">管理列表</li>
  </ol>
</div>

<!--查询-->
<div class="content-search">

  <div class="">
    <span class="title">数据库类型：</span>
    <p-dropdown [options]="dbTypeList" [(ngModel)]="queryParam.dbType" (onChange)="flushData()"></p-dropdown>
    <span class="title">查询名称：</span>
    <input type="text" class="" name="sqlName" maxlength="20" [(ngModel)]="queryParam.sqlName">
    <button type="button" class="btn-check ripple" (click)="flushData()">查询</button>
  </div>
  <div class="crumbs-btn">
    <button type="button" class="btn-add ripple" (click)="addData()" [hidden]="!checkAuth('010002')">新增</button>
  </div>
</div>
<!--数据表格-->
<div class="content-table">
  <app-ptable [tableOpts]="tableOpts"></app-ptable>
</div>

<!-- 删除 -->
<p-dialog header="{{dialogOpts.delete.title}}" [(visible)]="dialogOpts.delete.visible" width="450" height="auto"
          modal="true">
  <div>
    是否确定删除？
  </div>
  <p-footer>
    <button type="button" pButton (click)="deleteOk()" label="确认"></button>
    <button type="button" pButton (click)="dialogOpts.delete.visible=false" label="取消"></button>
  </p-footer>
</p-dialog>
