<router-outlet></router-outlet>
<div class="lw-login">
  <div class="login">
    <div class="logo">
      <img [src]="getBasePath() + systenInfo.sysLogoUrl" alt="">
      <span>{{systenInfo.sysName}}</span>
    </div>
    <div class="login-con">
      <div class="login-from">
        <label class="login-t">用户登录</label>
        <div class="input"><b class="account"></b>
          <input type="text" [(ngModel)]="userInfo.account" (keyup)="accountKeyup($event)" maxlength="20" />
        </div>
        <div class="input pst-rela"><b class="password"></b>
          <input type="password" [(ngModel)]="userInfo.pwd" (keyup)="pwdKeyup($event)" maxlength="20" />
          <p *ngIf="Prompt" class="Prompt">用户不存在或用户密码不正确</p>
        </div>
        <div class="login-tools">
          <label><input type="checkbox" [(ngModel)]="userInfo.checked"> 一周內记住密码</label>
          <a href="javascript:;" (click)="forgetPwd()">忘记密码？</a>
        </div>
        <div class="submit">
          <button class="login-btn" type="submit" (click)="onSubmit()">登 录</button>
        </div>
      </div>
    </div>
  </div>
  <p class="footer">{{systenInfo.copyRight}}</p>
</div>
<app-prompt></app-prompt>

<!--弹出层-->
<p-dialog header="{{dialogOpts.forgotPwd.title}}" [(visible)]="dialogOpts.forgotPwd.visible" width="450" height="auto"
  modal="true">
  <div class="dialogForm texts">
    <div class="inp">
      <span><em class="redStar">*</em>Email：</span>
      <input type="text" name="email" maxlength="100" [(ngModel)]="dialogOpts.forgotPwd.param.email" [ngClass]="{error: valid.dialogOpts.forgotPwd.param.email.status}">
    </div>
    <div class="inp">
      <span><em class="redStar">*</em>用户编号：</span>
      <input type="text" name="account" maxlength="20" [(ngModel)]="dialogOpts.forgotPwd.param.account" [ngClass]="{error: valid.dialogOpts.forgotPwd.param.account.status}">
    </div>
  </div>
  <p-footer>
    <button type="button" pButton (click)="forgetPwdOk()" label="提交"></button>
    <button type="button" pButton (click)="dialogOpts.forgotPwd.visible=false" label="取消"></button>
  </p-footer>
</p-dialog>