.tree-btn button:hover{
  box-shadow: none;
}
.tree-btn button:nth-child(1){
  background-position: -140px -38px;
}
.tree-btn button:nth-child(2){
  background-position: -185px -38px;
}
.tree-btn button:nth-child(3){
  background-position: -228px -38px;
}
.tree-btn button:nth-child(1):disabled,.tree-btn button:nth-child(1):disabled:hover{
  background-position: -140px -75px;
}
.tree-btn button:nth-child(2):disabled,.tree-btn button:nth-child(2):disabled:hover{
  background-position: -185px -75px;
}
.tree-btn button:nth-child(3):disabled,.tree-btn button:nth-child(3):disabled:hover{
  background-position: -228px -75px;
}
.tree-btn button:nth-child(1):hover{
  background-position: -140px 0px;
}
.tree-btn button:nth-child(2):hover{
  background-position: -185px 0px;
}
.tree-btn button:nth-child(3):hover{
  background-position: -228px 0px;
}