<div class="lw-login">
  <div class="login">
    <div class="login-con">
      <div class="login-from">
        <label class="login-t">找回密码</label>
        <div class="input"><b class="password"></b>
          <input type="password" (keyup)="pwdKeyup($event)" maxlength="20" placeholder="请输入新密码" [(ngModel)]="param.pwd" />
        </div>
        <div class="input pst-rela"><b class="password"></b>
          <input type="password"  (keyup)="pwdKeyup($event)" maxlength="20" placeholder="请再次输入密码" [(ngModel)]="param.confirmpwd" />
        </div>
        <div class="submit">
          <button class="login-btn" type="submit" (click)="onSubmit()">确  定</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-prompt></app-prompt>
