<div class="content-wrap">
  <!--面包屑-->
  <div class="content-header nav_tab">
    <ol class="breadcrumb">
      <li>系统管理</li>
      <li class="active">邮件发送日志</li>
    </ol>
  </div>
  <div class="content-search">
    <div class="crumbs-btn">
    </div>
    <div class="">
      <span class="title">所属模块：</span>
      <p-dropdown [options]="moduleList" [(ngModel)]="queryParam.module" (onChange)="flushData()"></p-dropdown>
      <span class="title">关键字：</span>
      <input type="text" [(ngModel)]="queryParam.keyWord" maxlength="20" placeholder="请输入收件人姓名 或 说明关键字 ">
      <p-calendar dateFormat="yy-mm-dd" placeholder="开始时间" [(ngModel)]="timeOpts.startTime" (onSelect)="onSelectTime(1)" [maxDate]="timeOpts.endTime" [minDate]="timeOpts.startTimeMin" [locale]="cn" [readonlyInput]="true"></p-calendar>
      <span>至：</span>
      <p-calendar dateFormat="yy-mm-dd" placeholder="结束时间" [(ngModel)]="timeOpts.endTime" (onSelect)="onSelectTime(2)" [minDate]="timeOpts.startTime" [maxDate]="timeOpts.endTimeMax" [locale]="cn" [readonlyInput]="true"></p-calendar>

      <button type="button" class="btn-check" (click)="flushData()">查询</button>
    </div>
  </div>
  <div class="content-table">
    <!--表格-->
    <div class="table">
      <app-ptable [tableOpts]="tableOpts"></app-ptable>
    </div>
  </div>
</div>
