<div class="content-wrap">
  <div class="content-header nav_tab">
    <a class="btn-back" (click)="goback()"><em class="ico-r"></em>返回</a>
    <ol class="breadcrumb">
      <li>数据交换任务</li>
      <li class="active">{{getOperName()}}</li>
    </ol>
  </div>
  <div class="data-convert">
    <!--数据资源基础信息-->
    <div class="content-title">数据资源基础信息</div>
    <div class="border valignTable autovalignTable">
      <table>
        <tr>
          <th>所属机构：</th>
          <td>{{jobData.orgName}}</td>
          <th><em>*</em>job任务名称：</th>
          <td><input type="text" [(ngModel)]="jobData.jobName" maxlength="20"
                     [ngClass]="{error:valid.jobData.jobName.status}"></td>
        </tr>
        <tr>
          <th><em>*</em>所属业务：</th>
          <td>
            <p-dropdown length="equate" [options]="busTypeList" [(ngModel)]="jobData.businessType"
                        [ngClass]="{error: valid.jobData.businessType.status}"
                        placeholder="请选择" (onChange)="onbusTypeChange()"></p-dropdown>
          </td>
          <th><em>*</em>执行计划：</th>
          <td>
            <p-dropdown length="equate" [options]="scheduleTypeList" [(ngModel)]="jobData.schedule"
                        [ngClass]="{error: valid.jobData.schedule.status}"
                        placeholder="请选择" (onChange)="onscheduleTypeChange()"></p-dropdown>
          </td>
        </tr>
        <tr>
          <th>简介：</th>
          <td colspan="3"><textarea [(ngModel)]="jobData.remark"></textarea></td>
        </tr>
      </table>
    </div>
    <div class="content-stepflow">
      <span></span>
    </div>
    <div class="content-title">配置任务执行步骤 (<font color="red">请先选择业务类型</font> )</div>
    <div>
      <table class="ruletable mt10" style="table-layout: auto;">
        <thead>
        <tr>
          <td width="40">序号</td>
          <td width="250">执行序号</td>
          <td>转换步骤名称</td>
          <td width="100">操作</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of jobData.taskInfos; let i=index">
          <td>{{i+1}}</td>
          <td>
            第 <input type="text" [(ngModel)]="item.sort" maxlength="10" style="width: 50px"
                     [ngClass]="{error:valid.data && valid.data[i]?.sort.status}"
          />步
          </td>
          <td>
            <p-dropdown length="equate" [options]="taskList" [(ngModel)]="item.taskName"
                        [ngClass]="{error:valid.data && valid.data[i]?.taskName.status}"
                        placeholder="请选择"></p-dropdown>
          </td>
          <td *ngIf="jobData.taskInfos.length > 1" class="last-td">
            <span class="btn-add" (click)=" addDataRow(i)">+</span> <span
            class="btn-add" (click)=" removeDataRow(i)">-</span>
          </td>
          <td *ngIf="jobData.taskInfos.length == 1" class="last-td">
            <span class="btn-add" (click)=" addDataRow(i)">+</span> <span
            class="btn-add" style="visibility:hidden">-</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="btn-group-center">
      <button type="button" pButton class="fr" (click)="saveitem()">保存</button>
      <button type="button" pButton class="fr" (click)="goback()">返回</button>
    </div>
  </div>
</div>

