<!--  字符串操作  -->
<div id="stringoper" *ngIf="rule?.type == 3">
  <div class="rule-title">{{rule.typeName}}</div>
  <div class="rule-name">
    <em>*</em>步骤名称： <input type="text" [maxlength]="stepNameLength"
                           [(ngModel)]="rule.modifyName"
                           [ngClass]="{error:rule.valid.modifyName.status}"/> 编号：
    {{rule.id}}
  </div>
  <div class="rule-detail">
    <table class="ruletable">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td><em>*</em>输入字段</td>
        <td><em>*</em>输出字段</td>
        <td>去除空格</td>
        <td>大小写转换</td>
        <td>数字</td>
        <td>去除特殊字符</td>
        <td>填充类型</td>
        <td>填充长度</td>
        <td>填充字符</td>
        <td width="65">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.dataList; let i=index">
        <td>{{i+1}}</td>
        <td>
          <p-dropdown [options]="rule.fieldList"
                      [(ngModel)]="item.sourceField"
                      [ngClass]="{error:rule.valid?.dataList[i]?.sourceField.status}"
                      placeholder="请选择"></p-dropdown>
        </td>
        <td><input type="text" [(ngModel)]="item.targetField"
                   maxlength="20"
                   [ngClass]="{error:rule.valid?.dataList[i]?.targetField.status}"/></td>
        <td>
          <p-dropdown [options]="rule.blankList"
                      [(ngModel)]="item.blank"></p-dropdown>
        </td>
        <td>
          <p-dropdown [options]="rule.caseList"
                      [(ngModel)]="item.caseType"></p-dropdown>
        </td>
        <td>
          <p-dropdown [options]="rule.numberList"
                      [(ngModel)]="item.number"></p-dropdown>
        </td>
        <td>
          <p-dropdown [options]="rule.specialList"
                      [(ngModel)]="item.special"></p-dropdown>
        </td>
        <td>
          <p-dropdown [options]="rule.paddingTypeList"
                      [(ngModel)]="item.paddingType"
                      (onChange)="rule.onPaddingTypeChange(item)"></p-dropdown>
        </td>
        <td><input type="text" [(ngModel)]="item.paddingLength"
                   maxlength="4"
                   [ngClass]="{error:rule.valid?.dataList[i]?.paddingLength.status}"
                   [disabled]="item.paddingType==0"/></td>
        <td><input type="text" [(ngModel)]="item.paddingChar"
                   maxlength="10"
                   [ngClass]="{error:rule.valid?.dataList[i]?.paddingChar.status}"
                   [disabled]="item.paddingType==0"/></td>
        <td *ngIf="rule.dataList.length > 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" (click)="rule.removeDataRow(i)">-</span></td>
        <td *ngIf="rule.dataList.length == 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" style="visibility:hidden">-</span></td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center">
      <button type="button" (click)="rule.onStringOperOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消</button>
    </div>
  </div>
</div>


<!--  字符串剪切  -->
<div id="Stringcut" *ngIf="rule?.type == 4">
  <div class="rule-title">{{rule.typeName}}</div>
  <div class="rule-name">
    <em>*</em>步骤名称： <input type="text" [maxlength]="stepNameLength"
                           [(ngModel)]="rule.modifyName"
                           [ngClass]="{error:rule.valid.modifyName.status}"/> 编号：
    {{rule.id}}
  </div>
  <div class="rule-detail">
    <table class="ruletable">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td><em>*</em>输入字段</td>
        <td><em>*</em>输出字段</td>
        <td><em>*</em>起始位置</td>
        <td><em>*</em>结束位置</td>
        <td width="65">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.dataList; let i=index">
        <td>{{i+1}}</td>
        <td>
          <p-dropdown [options]="rule.fieldList"
                      [(ngModel)]="item.sourceField"
                      [ngClass]="{error:rule.valid?.dataList[i]?.sourceField.status}"
                      placeholder="请选择"></p-dropdown>
        </td>
        <td><input type="text" [(ngModel)]="item.targetField"
                   maxlength="20"
                   [ngClass]="{error:rule.valid?.dataList[i]?.targetField.status}"/></td>
        <td><input type="text" [(ngModel)]="item.startPosition"
                   maxlength="4"
                   [ngClass]="{error:rule.valid?.dataList[i]?.startPosition.status}"/></td>
        <td><input type="text" [(ngModel)]="item.endPosition"
                   maxlength="4"
                   [ngClass]="{error:rule.valid?.dataList[i]?.endPosition.status}"/></td>
        <td *ngIf="rule.dataList.length > 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" (click)="rule.removeDataRow(i)">-</span></td>
        <td *ngIf="rule.dataList.length == 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" style="visibility:hidden">-</span></td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center">
      <button type="button" (click)="rule.onStringCutOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消</button>
    </div>
  </div>
</div>


<!--  数值范围  -->
<div id="Numberrange" *ngIf="rule?.type == 10">
  <div class="rule-title">{{rule.typeName}}</div>
  <div class="rule-name">
    <em>*</em>步骤名称： <input type="text" [maxlength]="stepNameLength"
                           [(ngModel)]="rule.modifyName"
                           [ngClass]="{error:rule.valid.modifyName.status}"/> 编号： {{rule.id}}
  </div>
  <div class="rule-detail">
    <table class="mt10">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td>字段字段</td>
        <td>输出字段</td>
        <td>是否有效</td>
        <td width="100">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="rule.dataList.length == 0">
        <td colspan="5">暂无数据</td>
      </tr>
      <tr *ngFor="let item of rule.dataList; let i=index">
        <td>{{i+1}}</td>
        <td>{{item.sourceField}}</td>
        <td>{{item.targetField}}</td>
        <td><img src="./assets/img/error.png" alt="错误"
                 *ngIf="!item.status"> <img src="./assets/img/ok.png"
                                            alt="正确" *ngIf="item.status"></td>
        <td><a (click)="rule.onUpdate(item.sourceField)">修改</a> <a
          (click)="rule.onDelete(item.sourceField)">删除</a></td>
      </tr>
      </tbody>
    </table>
    <div class="valignTable form-table">
      <table>
        <tr>
          <th><em>*</em>输入字段：</th>
          <td>
            <p-dropdown [options]="rule.fieldList"
                        [(ngModel)]="rule.rowData.sourceField"
                        [ngClass]="{error:rule.valid.rowData.sourceField.status}"
                        placeholder="请选择" (onChange)="rule.onUpdate($event.value)"></p-dropdown>
          </td>
        </tr>
        <tr>
          <th><em>*</em>输出字段：</th>
          <td><input type="text" [(ngModel)]="rule.rowData.targetField"
                     maxlength="20"
                     [ngClass]="{error:rule.valid.rowData.targetField.status}"/></td>
        </tr>
        <tr>
          <th>缺省值：</th>
          <td><input type="text" [(ngModel)]="rule.rowData.defValue"
                     maxlength="20"/></td>
        </tr>
      </table>
    </div>
    <p class="mt10">范围（最小 <=X< 最大）</p>
    <table class="ruletable" style="width: 500px;">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td>下限<em title="下限和上界必填一项">？</em></td>
        <td>上界</td>
        <td><em>*</em>目标值</td>
        <td width="65">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.rowData.numberranges; let i=index">
        <td>{{i+1}}</td>
        <td><input type="text" [(ngModel)]="item.startValue"
                   maxlength="30"
                   [ngClass]="{error:rule.valid.rowData?.numberranges[i]?.startValue.status}"/>
        </td>
        <td><input type="text" [(ngModel)]="item.endValue"
                   maxlength="30"
                   [ngClass]="{error:rule.valid.rowData?.numberranges[i]?.endValue.status}"/></td>
        <td><input type="text" [(ngModel)]="item.targetValue"
                   maxlength="30"
                   [ngClass]="{error:rule.valid.rowData?.numberranges[i]?.targetValue.status}"/></td>
        <td *ngIf="rule.rowData.numberranges.length > 1" class="last-td">
          <span class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" (click)="rule.removeDataRow(i)">-</span>
        </td>
        <td *ngIf="rule.rowData.numberranges.length == 1" class="last-td">
          <span class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" style="visibility:hidden">-</span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center"
         *ngIf="rule.rowData.sourceField && rule.rowData.sourceField != '' ">
      <button type="button" (click)="rule.onNumberrangeOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消规则</button>
    </div>
    <div class="btn-group-center"
         *ngIf="!rule.rowData.sourceField || rule.rowData.sourceField == '' ">
      <button type="button" (click)="rule.onAllNumberrangeOk()">确认规则</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消规则</button>
    </div>
  </div>
</div>


<!--  拆分字段  操作  -->
<div id="Splits" *ngIf="rule?.type == 8">
  <div class="rule-title">{{rule.typeName}}</div>
  <div class="rule-name">
    <em>*</em>步骤名称： <input type="text" [maxlength]="stepNameLength"
                           [(ngModel)]="rule.modifyName"
                           [ngClass]="{error:rule.valid.modifyName.status}"/> 编号： {{rule.id}}
  </div>
  <div class="rule-detail">
    <table class="mt10">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td>输入字段</td>
        <td>输出字段</td>
        <td>是否有效</td>
        <td width="100">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="rule.dataList.length == 0">
        <td colspan="6">暂无数据</td>
      </tr>
      <tr *ngFor="let item of rule.dataList; let i=index">
        <td>{{i+1}}</td>
        <td>{{item.sourceField}}</td>
        <td>
          <ng-container
            *ngFor="let f of item.splitList;let ii = index">
            <ng-container *ngIf="ii>0">,</ng-container>
            {{f.targetField}}
          </ng-container>
        </td>
        <td><img src="./assets/img/error.png" alt="错误"
                 *ngIf="!item.status"> <img src="./assets/img/ok.png"
                                            alt="正确" *ngIf="item.status"></td>
        <td><a (click)="rule.onUpdate(item.sourceField)">修改</a> <a
          (click)="rule.onDelete(item.sourceField)">删除</a></td>
      </tr>
      </tbody>
    </table>
    <div class="valignTable form-table">
      <table>
        <tr>
          <th><em>*</em>输入字段：</th>
          <td>
            <p-dropdown [options]="rule.fieldList"
                        [(ngModel)]="rule.rowData.sourceField"
                        [ngClass]="{error:rule.valid.rowData.sourceField.status}"
                        placeholder="请选择" (onChange)="rule.onUpdate($event.value)"></p-dropdown>
          </td>
        </tr>
        <tr>
          <th><em>*</em>分隔符：</th>
          <td><input type="text" [(ngModel)]="rule.rowData.delimiter"
                     [ngClass]="{error:rule.valid.rowData.delimiter.status}"
                     maxlength="20"/></td>
        </tr>
      </table>
    </div>
    <table class="ruletable" style="width: 500px;">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td><em>*</em>输出字段</td>
        <td>去除空格类型</td>
        <td width="65">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.rowData.splitList; let i=index">
        <td>{{i+1}}</td>
        <td><input type="text" [(ngModel)]="item.targetField"
                   [ngClass]="{error:rule.valid.rowData?.splitList[i]?.targetField.status}"
                   maxlength="20"/></td>
        <td>
          <p-dropdown [options]="rule.blankTypeList"
                      [(ngModel)]="item.blankType" placeholder="请选择"></p-dropdown>
        </td>
        <td *ngIf="rule.rowData.splitList.length > 2" class="last-td">
          <span class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" (click)="rule.removeDataRow(i)">-</span>
        </td>
        <td *ngIf="rule.rowData.splitList.length <= 2" class="last-td">
          <span class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" style="visibility:hidden">-</span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center"
         *ngIf="rule.rowData.sourceField && rule.rowData.sourceField != '' ">
      <button type="button" (click)="rule.onSplitFieldOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消规则</button>
    </div>
    <div class="btn-group-center"
         *ngIf="!rule.rowData.sourceField || rule.rowData.sourceField == '' ">
      <button type="button" (click)="rule.onAllSplitFieldOk()">确认规则</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消规则</button>
    </div>
  </div>
</div>

<!--  值映射  -->
<div id="ValueMapper" *ngIf="rule?.type == 7">
  <div class="rule-title">{{rule.typeName}}</div>
  <div class="rule-name">
    <em>*</em>步骤名称： <input type="text" [maxlength]="stepNameLength"
                           [(ngModel)]="rule.modifyName"
                           [ngClass]="{error:rule.valid.modifyName.status}"/> 编号： {{rule.id}}
  </div>
  <div class="rule-detail">
    <table class="mt10">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td>输入</td>
        <td>输出</td>
        <td>映射个数</td>
        <td>是否有效</td>
        <td width="100">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="rule.dataList.length == 0">
        <td colspan="6">暂无数据</td>
      </tr>
      <tr *ngFor="let item of rule.dataList; let i=index">
        <td>{{i+1}}</td>
        <td>{{item.sourceField}}</td>
        <td>{{item.targetField}}</td>
        <td>{{item.mappings.length}}</td>
        <td><img src="./assets/img/error.png" alt="错误"
                 *ngIf="!item.status"> <img src="./assets/img/ok.png"
                                            alt="正确" *ngIf="item.status"></td>
        <td><a (click)="rule.onUpdate(item.sourceField)">修改</a> <a
          (click)="rule.onDelete(item.sourceField)">删除</a></td>
      </tr>
      </tbody>
    </table>
    <div class="valignTable form-table">
      <table class="mt10">
        <tr>
          <th><em>*</em>输入字段：</th>
          <td>
            <p-dropdown [options]="rule.fieldList"
                        [(ngModel)]="rule.rowData.sourceField"
                        [ngClass]="{error:rule.valid.rowData.sourceField.status}"
                        placeholder="请选择" (onChange)="rule.onUpdate($event.value)"></p-dropdown>
          </td>
        </tr>
        <tr>
          <th><em>*</em>输出字段：</th>
          <td><input type="text" [(ngModel)]="rule.rowData.targetField"
                     [ngClass]="{error:rule.valid.rowData.targetField.status}"
                     maxlength="20"/></td>
        </tr>
        <tr>
          <th>缺省值：</th>
          <td><input type="text" [(ngModel)]="rule.rowData.defValue"
                     maxlength="10"/></td>
        </tr>
      </table>
    </div>
    <table class="mt10 ruletable " style="width: 500px;">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td><em>*</em>源值</td>
        <td><em>*</em>目标值</td>
        <td width="80">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.rowData.mappings; let i=index">
        <td>{{i+1}}</td>
        <td><input type="text" [(ngModel)]="item.sourceValue"
                   [ngClass]="{error:rule.valid.rowData?.mappings[i]?.sourceValue.status}"
                   maxlength="10"/></td>
        <td><input type="text" [(ngModel)]="item.targetValue"
                   [ngClass]="{error:rule.valid.rowData?.mappings[i]?.targetValue.status}"
                   maxlength="10"/></td>
        <td *ngIf="rule.rowData.mappings.length > 1" class="last-td">
          <span class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" (click)="rule.removeDataRow(i)">-</span>
        </td>
        <td *ngIf="rule.rowData.mappings.length == 1" class="last-td">
          <span class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" style="visibility:hidden">-</span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center"
         *ngIf="rule.rowData.sourceField && rule.rowData.sourceField != '' ">
      <button type="button" (click)="rule.onMapperOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消规则</button>
    </div>
    <div class="btn-group-center"
         *ngIf="!rule.rowData.sourceField || rule.rowData.sourceField == '' ">
      <button type="button" (click)="rule.onAllMappingOk()">确认规则</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消规则</button>
    </div>
  </div>
</div>

<!--  合并字段  -->
<div id="Concat" *ngIf="rule?.type == 9">
  <div class="rule-title">{{rule.typeName}}</div>
  <div class="rule-name">
    <em>*</em>步骤名称： <input type="text" [maxlength]="stepNameLength"
                           [(ngModel)]="rule.modifyName"
                           [ngClass]="{error:rule.valid.modifyName.status}"/> 编号： {{rule.id}}
  </div>
  <div class="rule-detail">
    <table class="mt10">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td>输入字段</td>
        <td>分隔符</td>
        <td>输出字段</td>
        <td>是否有效</td>
        <td width="100">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="rule.dataList.length == 0">
        <td colspan="6">暂无数据</td>
      </tr>
      <tr *ngFor="let item of rule.dataList; let i=index">
        <td>{{i+1}}</td>
        <td>
          <ng-container
            *ngFor="let f of item.concatFields;let ii = index">
            <ng-container *ngIf="ii>0">,</ng-container>
            {{f.sourceField}}
          </ng-container>
        </td>
        <td>{{item.delimiter}}</td>
        <td>{{item.targetField}}</td>
        <td><img src="./assets/img/error.png" alt="错误"
                 *ngIf="!item.status"> <img src="./assets/img/ok.png"
                                            alt="正确" *ngIf="item.status"></td>
        <td><a (click)="rule.onUpdate(item, i)">修改</a> <a
          (click)="rule.onDelete(item, i)">删除</a></td>
      </tr>
      </tbody>
    </table>
    <div class="valignTable form-table">
      <table class="mt10">
        <tr>
          <td><em>*</em>输出字段：</td>
          <td><input type="text" [(ngModel)]="rule.rowData.targetField"
                     [ngClass]="{error:rule.valid.rowData.targetField.status}"
                     maxlength="10"/></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;操作序号：</td>
          <td>
            <ng-container *ngIf="rule.rowData.rowIndex >= 0">{{rule.rowData.rowIndex
              + 1}} <a (click)="rule.cancelUpdateData()">取消修改</a></ng-container>
            <ng-container
              *ngIf="rule.rowData.rowIndex < 0">新增
            </ng-container>
          </td>
        </tr>
        <tr>
          <td><em>*</em>分隔符：</td>
          <td><input type="text" [(ngModel)]="rule.rowData.delimiter"
                     [ngClass]="{error:rule.valid.rowData.delimiter.status}"
                     maxlength="10"/></td>
        </tr>
      </table>
    </div>
    <table class="mt10 ruletable " style="width: 500px;">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td><em>*</em>输入字段</td>
        <td width="65">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.rowData.concatFields; let i=index">
        <td>{{i+1}}</td>
        <td>
          <p-dropdown [options]="rule.fieldList"
                      [(ngModel)]="item.sourceField"
                      [ngClass]="{error:rule.valid.rowData?.concatFields[i]?.sourceField.status}"
                      placeholder="请选择"></p-dropdown>
        </td>
        <td *ngIf="rule.rowData.concatFields.length > 2" class="last-td">
          <span class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" (click)="rule.removeDataRow(i)">-</span>
        </td>
        <td *ngIf="rule.rowData.concatFields.length <= 2" class="last-td">
          <span class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" style="visibility:hidden">-</span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center"
         *ngIf="rule.rowData.targetField && rule.rowData.targetField != '' ">
      <button type="button" (click)="rule.onConcatOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消规则</button>
    </div>
    <div class="btn-group-center"
         *ngIf="!rule.rowData.targetField || rule.rowData.targetField == '' ">
      <button type="button" (click)="rule.onALLConcatOk()">确认规则</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消规则</button>
    </div>
  </div>
</div>

<!--  增加常量  操作  -->
<div id="AddConstant" *ngIf="rule?.type == 6">
  <div class="rule-title">{{rule.typeName}}</div>
  <div class="rule-name">
    <em>*</em>步骤名称： <input type="text" [maxlength]="stepNameLength"
                           [(ngModel)]="rule.modifyName"
                           [ngClass]="{error:rule.valid.modifyName.status}"/> 编号： {{rule.id}}
  </div>
  <div class="rule-detail">
    <table class="ruletable mt10">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td><em>*</em>输出字段</td>
        <td><em>*</em>类型</td>
        <td>格式</td>
        <td><em>*</em>值</td>
        <td width="65">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.dataList; let i=index">
        <td>{{i+1}}</td>
        <td><input type="text" [(ngModel)]="item.targetField"
                   maxlength="100"
                   [ngClass]="{error:rule.valid?.dataList[i]?.targetField.status}"/>
        </td>
        <td>
          <p-dropdown [options]="rule.valTypeList"
                      [(ngModel)]="item.valType" (onChange)="rule.changeFormat(item)"></p-dropdown>
        </td>
        <td>
          <p-dropdown [options]="rule.formatList_date"
                      placeholder="无" [(ngModel)]="item.formatVal"
                      [disabled]="item.valType != 'Date'"></p-dropdown>
        </td>
        <td><input type="text" [(ngModel)]="item.toValue"
                   maxlength="300"
                   [ngClass]="{error:rule.valid?.dataList[i]?.toValue.status}"/></td>
        <td *ngIf="rule.dataList.length > 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" (click)="rule.removeDataRow(i)">-</span></td>
        <td *ngIf="rule.dataList.length == 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" style="visibility:hidden">-</span></td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center">
      <button type="button" (click)="rule.onAddConstantOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消</button>
    </div>
  </div>
</div>


<!--  计算器 操作  -->
<div id="calculator" *ngIf="rule?.type == 13">
  <div class="rule-title">{{rule.typeName}}</div>
  <div class="rule-name">
    <em>*</em>步骤名称： <input type="text" [maxlength]="stepNameLength"
                           [(ngModel)]="rule.modifyName"
                           [ngClass]="{error:rule.valid.modifyName.status}"/> 编号： {{rule.id}}
  </div>
  <div class="rule-detail">
    <table class="ruletable mt10">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td><em>*</em>输入字段A</td>
        <td>输入字段B</td>
        <td>输入字段C</td>
        <td>计算</td>
        <td><em>*</em>输出字段</td>
        <td>值类型</td>
        <td>长度</td>
        <td>精度</td>
        <td width="65">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.dataList; let i=index">
        <td>{{i+1}}</td>
        <td>
          <p-dropdown [options]="rule.fieldList"
                      [(ngModel)]="item.fieldA" placeholder="请选择"
                      [ngClass]="{error:rule.valid?.dataList[i]?.fieldA.status}"></p-dropdown>
        </td>
        <td>
          <p-dropdown [options]="rule.fieldList"
                      [(ngModel)]="item.fieldB" placeholder="请选择"
                      [ngClass]="{error:rule.valid?.dataList[i]?.fieldB.status}"></p-dropdown>
        </td>
        <td>
          <p-dropdown [options]="rule.fieldList"
                      [(ngModel)]="item.fieldC" placeholder="请选择"
                      [ngClass]="{error:rule.valid?.dataList[i]?.fieldC.status}"></p-dropdown>
        </td>
        <td>
          <p-dropdown [options]="rule.calculatorList"
                      [(ngModel)]="item.calculator"></p-dropdown>
        </td>
        <td><input type="text" [(ngModel)]="item.targetField"
                   maxlength="20"
                   [ngClass]="{error:rule.valid?.dataList[i]?.targetField.status}"/>
        </td>
        <td>
          <p-dropdown [options]="rule.valueTypeList"
                      [(ngModel)]="item.valueType"></p-dropdown>
        </td>
        <td><input type="text" [(ngModel)]="item.longVal"
                   maxlength="4"
                   [ngClass]="{error:rule.valid?.dataList[i]?.longVal.status}"/></td>
        <td><input type="text" [(ngModel)]="item.accuracy"
                   maxlength="4"
                   [ngClass]="{error:rule.valid?.dataList[i]?.accuracy.status}"/></td>

        <td *ngIf="rule.dataList.length > 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" (click)="rule.removeDataRow(i)">-</span></td>
        <td *ngIf="rule.dataList.length == 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" style="visibility:hidden">-</span></td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center">
      <button type="button" (click)="rule.onCaculatorOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消</button>
    </div>
  </div>
</div>


<!--  去除重复记录  操作  -->
<div id="uniqueRows" *ngIf="rule?.type == 14">
  <div class="rule-title">{{rule.typeName}}</div>
  <div class="rule-name">
    <em>*</em>步骤名称： <input type="text" [maxlength]="stepNameLength"
                           [(ngModel)]="rule.modifyName"
                           [ngClass]="{error:rule.valid.modifyName.status}"/> 编号： {{rule.id}}
  </div>
  <div class="rule-detail">
    <table class="ruletable mt10" style="width: 500px;">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td><em>*</em>输入字段</td>
        <!--<td>忽略大小写</td>-->
        <td width="65">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.dataList; let i=index">
        <td>{{i+1}}</td>
        <td>
          <p-dropdown [options]="rule.fieldList"
                      [(ngModel)]="item.sourceField"
                      [ngClass]="{error:rule.valid?.dataList[i]?.sourceField.status}"
                      placeholder="请选择"></p-dropdown>
        </td>
        <!--<td>
          <p-dropdown [options]="rule.ignoreList" [(ngModel)]="item.ignore"></p-dropdown>
        </td>-->
        <td *ngIf="rule.dataList.length > 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" (click)="rule.removeDataRow(i)">-</span></td>
        <td *ngIf="rule.dataList.length == 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" style="visibility:hidden">-</span></td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center">
      <button type="button" (click)="rule.onUniqurowOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消</button>
    </div>
  </div>
</div>


<!--  字符串替换  操作  -->
<div id="Stringreplace" *ngIf="rule?.type == 5">
  <div class="rule-title">{{rule.typeName}}</div>
  <div class="rule-name">
    <em>*</em>步骤名称： <input type="text" [maxlength]="stepNameLength"
                           [(ngModel)]="rule.modifyName"
                           [ngClass]="{error:rule.valid.modifyName.status}"/> 编号：
    {{rule.id}}
  </div>
  <div class="rule-detail">
    <table class="ruletable mt10">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td><em>*</em>输入字段</td>
        <td><em>*</em>输出字段</td>
        <td><em>*</em>搜索</td>
        <td><em>*</em>使用···替换</td>
        <td width="65">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.dataList; let i=index">
        <td>{{i+1}}</td>
        <td>
          <p-dropdown [options]="rule.fieldList"
                      [(ngModel)]="item.sourceField"
                      [ngClass]="{error:rule.valid?.dataList[i]?.sourceField.status}"
                      placeholder="请选择"></p-dropdown>
        </td>
        <td><input type="text" [(ngModel)]="item.targetField"
                   maxlength="20"
                   [ngClass]="{error:rule.valid?.dataList[i]?.targetField.status}"/>
        </td>
        <td><input type="text" [(ngModel)]="item.findValue"
                   maxlength="20"
                   [ngClass]="{error:rule.valid?.dataList[i]?.findValue.status}"/>
        </td>
        <td><input type="text" [(ngModel)]="item.replaceValue"
                   maxlength="20"
                   [ngClass]="{error:rule.valid?.dataList[i]?.replaceValue.status}"/>
        </td>
        <td *ngIf="rule.dataList.length > 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" (click)="rule.removeDataRow(i)">-</span></td>
        <td *ngIf="rule.dataList.length == 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" style="visibility:hidden">-</span></td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center">
      <button type="button" (click)="rule.onStringreplaceOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消</button>
    </div>
  </div>
</div>


<!--  列拆分为多行  操作  -->
<div id="Splitfieldtorows" *ngIf="rule?.type == 12">
  <div class="rule-title">{{rule.typeName}}</div>
  <div class="rule-name">
    <em>*</em>步骤名称： <input type="text" [maxlength]="stepNameLength"
                           [(ngModel)]="rule.modifyName"
                           [ngClass]="{error:rule.valid.modifyName.status}"/> 编号： {{rule.id}}
  </div>
  <div class="rule-detail">
    <table class="ruletable mt10">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td><em>*</em>输入字段</td>
        <td><em>*</em>分隔符</td>
        <td><em>*</em>输出字段</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.dataList; let i=index">
        <td>{{i+1}}</td>
        <td>
          <p-dropdown [options]="rule.fieldList"
                      [(ngModel)]="item.sourceField"
                      [ngClass]="{error:rule.valid?.dataList[i]?.sourceField.status}"
                      placeholder="请选择"></p-dropdown>
        </td>
        <td>
          <!--
          <p-dropdown [options]="rule.delimiterType" [(ngModel)]="item.delimiter" placeholder="请选择"></p-dropdown>-->
          <input type="text" [(ngModel)]="item.delimiter" maxlength="20"
                 [ngClass]="{error:rule.valid?.dataList[i]?.delimiter.status}"/>
        </td>
        <td><input type="text" [(ngModel)]="item.targetField"
                   maxlength="20"
                   [ngClass]="{error:rule.valid?.dataList[i]?.targetField.status}"/>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center">
      <button type="button" (click)="rule.onSplitfieldtorowsOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消</button>
    </div>
  </div>
</div>


<!--  类型转换  操作  -->
<div id="TypeConvert" *ngIf="rule?.type == 11">
  <div class="rule-title">{{rule.typeName}}</div>
  <div class="rule-name">
    <em>*</em>步骤名称： <input type="text" [maxlength]="stepNameLength"
                           [(ngModel)]="rule.modifyName"
                           [ngClass]="{error:rule.valid.modifyName.status}"/> 编号： {{rule.id}}
  </div>
  <div class="rule-detail">
    <table class="ruletable mt10">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td><em>*</em>输入字段</td>
        <td><em>*</em>输出字段</td>
        <td><em>*</em>目标类型</td>
        <td><em>*</em>日期格式</td>
        <td>长度</td>
        <td>精度</td>
        <td width="65">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.dataList; let i=index">
        <td>{{i+1}}</td>
        <td>
          <p-dropdown [options]="rule.fieldList"
                      [(ngModel)]="item.sourceField"
                      [ngClass]="{error:rule.valid?.dataList[i]?.sourceField.status}"
                      placeholder="请选择"></p-dropdown>
        </td>
        <td><input type="text" [(ngModel)]="item.targetField"
                   maxlength="20"
                   [ngClass]="{error:rule.valid?.dataList[i]?.targetField.status}"/>
        </td>
        <td>
          <p-dropdown [options]="rule.typeList"
                      [(ngModel)]="item.targetType"
                      (onChange)="rule.changeFormat(item)"></p-dropdown>
        </td>
        <td>
          <p-dropdown [options]="rule.formatList"
                      [(ngModel)]="item.format" placeholder="无"
                      [disabled]="item.targetType != 'Date' && item.targetType != 'String' && item.targetType != 'Timestamp'"></p-dropdown>
        </td>
        <td><input type="text" [(ngModel)]="item.longVal"
                   maxlength="10"
                   [ngClass]="{error:rule.valid?.dataList[i]?.longVal.status}"/></td>
        <td><input type="text" [(ngModel)]="item.accuracy"
                   maxlength="10"
                   [ngClass]="{error:rule.valid?.dataList[i]?.accuracy.status}"/></td>
        <td *ngIf="rule.dataList.length > 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" (click)="rule.removeDataRow(i)">-</span></td>
        <td *ngIf="rule.dataList.length == 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" style="visibility:hidden">-</span></td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center">
      <button type="button" (click)="rule.onTypeConvertOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消</button>
    </div>
  </div>
</div>


<!--  选择目标表  操作    {label: '全表插入', value: 1},
      {label: '按照主键更新插入', value: 2},
      {label: '自定义更新条件', value: 3}
        (onChange)="rule.showMyCaption()"  -->
<div id="targetRule" *ngIf="rule?.type == 2">
  <div class="rule-detail">
    <div class="mt10 textright">
      更新类型：
     <p-dropdown [options]="rule.updateTypeList" align="left"
                  [(ngModel)]="rule.data.updateType"
      ></p-dropdown>
      <button type="button" (click)="rule.onAutoMapping()">自动映射</button>
    </div>
    <table class="ruletable mt10" style="table-layout: auto;">
      <thead>
      <tr>
        <td width="40">序号</td>
        <td width="150">输入字段</td>
        <td>注释</td>
        <td>类型</td>
        <td width="60">长度</td>
        <td width="75">主键/非空</td>
        <td class="tipStatus" width="40">效验结果</td>
        <td width="40">设为更新条件</td>
        <td width="40">更新关系</td>
        <td width="150">输出字段</td>
        <td>名称</td>
        <td>类型</td>
        <td width="60">长度</td>
        <td width="75">主键/非空</td>
        <td width="65">操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rule.mappings; let i=index">
        <td>{{i+1}}</td>
        <td>
          <p-dropdown [options]="rule.sourceFieldList"
                      [(ngModel)]="item.sourceField" placeholder="请选择"
                      (onChange)="rule.onSourceChange(i)"></p-dropdown>
        </td>
        <td>{{item.source.comment}}</td>
        <td>{{item.source.dataType}}</td>
        <td>{{item.source.length}}
          <ng-container
            *ngIf="item.sourceType=='N'">,{{item.source.decimalLength}}
          </ng-container>
        </td>
        <td><span *ngIf="item.source.primarykey == 1"
                  class="spandef spanred">是</span> <span
          *ngIf="item.source.primarykey != 1" class="spandef">否</span> / <span
          *ngIf="!item.source.hasOwnProperty('nullable') || item.source.nullable == 1"
          class="spandef">否</span> <span
          *ngIf="item.source.hasOwnProperty('nullable')  && item.source.nullable != 1"
          class="spandef spanred">是</span></td>
        <td class="tipStatus">
          <img src="./assets/img/ok.png" style="visibility:hidden" *ngIf="item.status == 0">
          <!-- 占个空间 -->
          <img src="./assets/img/error.png" alt="错误"  *ngIf="item.status == -1">
          <img src="./assets/img/warning.png" alt="提醒" *ngIf="item.status==2">
          <img src="./assets/img/ok.png" alt="正确" *ngIf="item.status===1">
        </td>
        <td>
          <p-dropdown [options]="rule.primaryFlagList"
                      [(ngModel)]="item.primaryFlag"
                      [disabled]="rule.data.updateType!=-1"
                     ></p-dropdown>
        </td>
        <td>
          <p-dropdown [options]="rule.relationList"
                      [(ngModel)]="item.updateRelation"
                      [disabled]="rule.data.updateType!=-1"
                     ></p-dropdown>
        </td>
        <td>
          <p-dropdown [options]="rule.targetFieldList"
                      [(ngModel)]="item.targetField" placeholder="请选择"
                      (onChange)="rule.onTargetChange(i)"></p-dropdown>
        </td>
        <td>{{item.target.comment}}</td>
        <td>{{item.target.dataType}}</td>
        <td>{{item.target.length}}
          <ng-container
            *ngIf="item.targetType=='N'">,{{item.target.decimalLength}}
          </ng-container>
        </td>
        <td><span *ngIf="item.target.primarykey == 1"
                  class="spandef spanred">是</span> <span
          *ngIf="item.target.primarykey != 1" class="spandef">否</span> / <span
          *ngIf="!item.target.hasOwnProperty('nullable') || item.target.nullable == 1"
          class="spandef">否</span> <span
          *ngIf="item.target.hasOwnProperty('nullable')  && item.target.nullable != 1"
          class="spandef spanred">是</span></td>
        <td *ngIf="rule.mappings.length > 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" (click)="rule.removeDataRow(i)">-</span></td>
        <td *ngIf="rule.mappings.length == 1" class="last-td"><span
          class="btn-add" (click)="rule.addDataRow(i)">+</span> <span
          class="btn-add" style="visibility:hidden">-</span></td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group-center">
      <button type="button" (click)="rule.onTargetMappingOk()">确认</button>
      <button type="button" class="btn-cancel" (click)="onRuleClose()">取消</button>
    </div>
  </div>
</div>
